body{
    font-family:'Roboto', sans-serif;
    font-size: 20px;
}

main{
    
    margin: 0 auto;
}

h1{
    font-size: 3rem;
}

h1+h2{
    margin: 10px;
}

h1,h2,h3{
    font-family: Roboto, sans-serif;
}