<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1>Welcome to the Home page nodemon what else <%= "Nodemon is working now i'm happy" %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, cupiditate eligendi pariatur modi nostrum exercitationem. Rem temporibus officia labore rerum fugiat voluptates, sequi suscipit ipsum aut tempora amet quia eveniet.</p>
</body>
</html>